@import "../defaultStyle.scss";

.formGroup{
    padding: 15px 0;
    input{
        @include borderRadius(30px);
        &[type=checkbox],&[type=radio]{
            margin-left: 5px;
            margin-right: 5px;
        }
    }
    .imageField{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 800px;
        height: 170px;
        border: 3px dashed $colorTh ;
        @include borderRadius(8px);
        color: $colorTh;
        cursor: pointer;

        .removeBtn,.changeBtn{
            position: absolute;
            top: 0;
            opacity: .5;
            &:hover{
                opacity: 1;
            }
        }
        .changeBtn{
            left: 0;
        }
        .removeBtn{
            right: 0;
        }
    }

}
.submitBtn{
    background-color: $colorSe;
    color: #fff;
    @include borderRadius(30px);
    padding: 10px 40px;
    border: none;
    max-width: 400px;
    width: 100%;
    margin-top: 10px;
    &:hover{
        background-color: $colorSe;
        filter: brightness(95%);
        -webkit-filter: brightness(95%);
    }
}