@import "../defaultStyle.scss";

.breadcrumb{
    margin-bottom: 10px;
    background: #ddd;
    padding: 15px 50px;
    // @include borderRadius(12px);

    .breadItem{

        &:hover{
            color: $colorSe;
        }
        &.active{
            color: $colorSe;
        }
    }
    .breadDivider{
        margin: 0 .5rem;
    }
}