@import '../defaultStyle.scss';

.upperNav{
    padding: .7rem 1rem;
    border-bottom: 2px solid #eee;

    .langBtn{
        background-color: transparent;
        font-weight: bolder;
        color: $colorPr;
        border: 0;
        font-size: 1.5em;
        &:focus{
            box-shadow: none;
        }
    }

    .accountMenu{
        .accountBtn{
            background-color: transparent;
            color: $colorSe;
            display: flex;
            align-items: center;
            padding: 0;
            svg {
                font-size: 2.5em;
            }
        }
        .dropdownMenu{
            width: 15vw;
            padding: 0;
            @include borderRadius(8px);
            .userInfo{
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: #e8e8e8;
                padding: 20px 10px;
                span,svg path{
                    color: black;
                }
            }
            .userOptions{
                display: flex;
                justify-content: space-between;
                padding: 5px;

                .btn{
                    color: #fff;
                    width: fit-content;
                    &#logoutBtn{
                        background-color: #841a1a;
                    }
                    &#profileBtn{
                        background-color: #303c54 !important;
                    }
                }
            }
        }
    }
    
    @media (max-width:1206px) {
        .navbarBrand{
            display: block;
            width: 100%;
            text-align: center;
            margin-bottom: 20px;
        }
    }
}