@import '../defaultStyle.scss';


.collapser{
    padding: 0 20px;
    li{
        background-color: transparent !important;
        border: 0 !important;
    }
}
.collapse_toggler{
    width: 100%;
    display: flex;
    cursor: pointer;
}

.sideMenu{
    background-color: $colorPr;
    min-width: 76.8px;
    width: 0;
    display: block;
    transition: all 0.3s ease-in-out 0s;

    .sideContent{
        position: sticky;
        top: 0;
        left: 0;
        height: 88vh;
        display: flex;
        flex-direction: column;
    }
    .sideHeader{
        padding: 20px;
        background-color: $colorTh;
        display: flex;
        justify-content: center;
        img{
            width: 100%;
        }
    }
    .sideList .title{
        font-weight: bold;
        display: none;
    }

    .menuToggler{
        position: absolute;
        top: -10px;
        border: 0;
        box-shadow: none;
        background-color: $colorPr;
        z-index: 9999;
        svg path{
            color: $colorSe;
        }
    }

    .sideList{
        overflow-x: hidden;
        overflow-y:scroll;
        height: 67.3vh;
        scrollbar-width: thin;
        scrollbar-color: $colorSe rgba(255,255,255,.5);
        &::-webkit-scrollbar{
            width: 10px;
        }
        &::-webkit-scrollbar-track{
            background-color: rgba(255,255,255,.5);
        }
        &::-webkit-scrollbar-thumb{
            background-color: $colorSe;
        }
        .sideItem{
            background-color: transparent;
            margin: 10px 0;
            white-space: nowrap;
            text-align: center;
            border: 0;
            .icon{
                margin-left: 0;
                svg {
                    font-size: 1.5em;
                    path{
                        color: $colorSe;
                    }
                }
            }
        }
    }
    &.wideMenu{
        min-width: 14vw;
        .sideList {
            .title{
                display: inline;
                color: $colorSe;
            }
            .sideItem {
                text-align: initial;
            }
            
        }
    }
}
html{
    .sideMenu .menuToggler{
        right: -20px;
        left: auto;
    }
    .sideMenu.wideMenu .sideItem .icon{
        margin-right: 10px !important;
    }
}
html:lang(ar){
    .sideMenu .menuToggler{
        left: -20px;
        right: auto;
    }
    .sideMenu.wideMenu .sideItem{
        .icon{
            margin-left: 10px !important;
        }
    } 
}