@import '../../defaultStyle.scss';

.upper-nav{
    padding: .7rem 1rem;
    border-bottom: 2px solid #eee;
    .account-menu{
        .account-btn{
            background-color: transparent;
            color: $colorSe;
            display: flex;
            align-items: center;
            padding: 0;
            svg {
                font-size: 2.5em;
            }
        }
        .dropdown-menu{
            width: 15vw;
            padding: 0;
            @include borderRadius(8px);
            .user-info{
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: #e8e8e8;
                padding: 20px 10px;
                span,svg path{
                    color: black;
                }
            }
            .user-options{
                display: flex;
                justify-content: space-between;
                padding: 5px;

                .btn{
                    color: #fff;
                    width: fit-content;
                    &#logout-btn{
                        background-color: #841a1a;
                    }
                    &#profile-btn{
                        background-color: #303c54 !important;
                    }
                }
            }
        }
    }
    
    @media (max-width:1206px) {
        .navbar-brand{
            display: block;
            width: 100%;
            text-align: center;
            margin-bottom: 20px;
        }
    }
}