@import '../../defaultStyle.scss';
$footColor:#7e7e7e;
.main-footer{

    .guide{
        background-color: #f1f1f1;
        padding-top: 30px;
        padding-bottom: 30px;
        color: $footColor;
        font-size: 1.5em;

        .guide-title{
            margin-bottom: 40px;
        }
        .madlol-info,
        .important-links,
        .categories{
            margin-bottom: 25px;
        }
        .important-links li:not(:last-child),
        .categories li:not(:last-child),
        .contacts li:not(:last-child) {
            margin-bottom: 15px;
        }

        .madlol-info{
            .logo{
                margin-bottom: 30px;
            }
            p{
                font-size: 22px;
                display: inline-block;
                line-height: 55px;
                color: $footColor;
            }
            .madlol-profiles{
                .prof-link{
                    &:not(:last-child){
                        margin-left: 15px;
                    }
                    svg{
                        border-radius: 50%;
                        padding: 10px 12px;
                        font-size: 2em;
                        path{
                            color: #fff;
                        }
                        &.whatsapp {
                            background: #52D55B;
                        }
                        &.twitter {
                            background: #2BC8CE;
                        }
                        &.instagram {
                            background: linear-gradient(to bottom left,#405DE6,#5851DB,#833AB4,#C13584,#E1306C,#FD1D1D,#F56040,#F77737,#FCAF45,#FFDC80);
                        }
                        &.google-plus {
                            background: #DC4E29;
                        }
                        &.facebook {
                            background: #0F71D5;
                            padding: 10px 16px;
                        }
                    }
                }
            }
        }

        .important-links{
            overflow: hidden;

            li{
                a{
                    color: $footColor;
                    text-decoration: none;
                }
            }
        }

        .categories{
            padding-bottom: 20px;
            overflow: hidden;

            li a{
                color: $footColor;
                text-decoration: none;
            }
        }
        .contacts{
            li{
                &:not(:last-child){
                    overflow: hidden;
                    svg{
                        display: block;
                        float: right;
                        width: 5%;
                        padding-top: 8px;
                        margin-left: 15px;
                        path{
                            color: $colorSe;
                        }
                    }
                    bdi{
                        display: block;
                        float: right;
                        width: 90%;
                        color: $footColor;
                    }
                }
                &:last-child{
                    a{
                        background-color: #fff;
                        border: 3px solid $colorPr;
                        display: block;
                        border-radius: 8px;
                        text-align: center;
                        padding: 10px;
                        text-decoration: none;
                        white-space: nowrap;
                        display: flex;
                        bdi{
                            display: inline-block;
                            width: 60%;
                            font-size: 0.7em;
                            span{
                                font-size: 0.8em;
                                white-space: nowrap;
                                display: block;
                            }
                        }
                        svg{
                            font-size: 2em;
                        }
                    }
                }
            }
        }
    }
}