$colorPr: #1B1464;
$colorSe:#F7931E;
$colorTh: #a6ba19;

@mixin borderRadius($val) {
    border-radius: $val;
    -webkit-border-radius: $val;
    -moz-border-radius: $val;
    -ms-border-radius: $val;
    -o-border-radius: $val;
}

@mixin Transition($tr){
    transition: $tr;
    -webkit-transition: $tr;
    -moz-transition: $tr;
    -ms-transition: $tr;
    -o-transition: $tr;
}

@mixin Transform ($data){
    transform: $data;
    -webkit-transform: $data;
    -moz-transform: $data;
    -ms-transform: $data;
    -o-transform: $data;
}

