@import "./defaultStyle.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100vh;
}
*{
  box-sizing: border-box;
  scrollbar-color: $colorSe rgba(255,255,255,.5);
  scrollbar-width: thin;
  &::-webkit-scrollbar{
    width: 10px;
  }
  &::-webkit-scrollbar-track{
    background: rgba(255,255,255,.5);
    // @include borderRadius(5px 0 0 5px);
  }
  &::-webkit-scrollbar-thumb{
    background-color: $colorSe;
    // @include borderRadius(5px 0 0 5px);
  }
}
.clickable{
  cursor: pointer;
}
body{
  padding-right: 0 !important;
  &::-webkit-scrollbar-track{
    background: $colorPr;
    @include borderRadius(0);
  }
  &::-webkit-scrollbar-thumb{
    background-color: $colorSe;
    @include borderRadius(0);
  }
}
.sort_container{
  padding: 20px 30px;
  box-shadow: 1px 1px 10px 1px #888;
  width: 80%;
  margin: auto;
  list-style: none;
  display: flex;
  direction: ltr;
  li{
    // display: inline-block;
    padding: 10px 20px;
    margin: 0 5px;
    border: 1px solid black;
  }
}
.testSort{
  // display: inline-block;
  padding: 10px 20px !important;
  list-style: none;
  margin: 0 5px !important;
  border: 1px solid black;
  width: fit-content !important;
  overflow: hidden;
}
a {
  color: inherit;
  text-decoration: none;
}


html{
  direction:ltr;
  body{
    direction: ltr;
  }
}
html:lang(ar){
  direction:rtl;
  body{
    direction: rtl;
  }
}

div.table-responsive{
  // display: block;
  // width: 100%;
  // overflow-x: scroll;
  scrollbar-color: $colorSe rgba(255,255,255,.5);
  scrollbar-width: thin;

  &::-webkit-scrollbar{
    height: 10px;
  }
  &::-webkit-scrollbar-track{
    background: rgba(255,255,255,.5);
    @include borderRadius(8px);
  }
  &::-webkit-scrollbar-thumb{
      background-color: $colorSe;
      @include borderRadius(8px);
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.item-divider::after{
  content: "|";
  font-size: 1.5em;
  color: #999;
}
.content{
  padding-right: 30px;
  padding-left: 30px;
}
.img-fit{
  width: 100%;
}

#nprogress {
  .bar{
    background-color: $colorTh;
    height: 4px;
  }
  .spinner-icon{
    display: none;
  }
}

html{
  .tooltip{
    margin-left: 50px;
  }
}

html:lang(ar){
  .tooltip{
    margin-right: 50px;
  }
}
a.disabled,div.disabled {
  pointer-events: none;
  cursor: default;
}