@import '../defaultStyle.scss';

.auth{
    height: 100vh;
    overflow: hidden;
    
    .authContainer{
        align-items: center;
        justify-content: center;
        height: 100%;

        .authForm{
            width: 500px;
            background-color: #fff;
            padding: 30px 20px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
            @include borderRadius(8px);
            position: relative;

            .authHead{
                display: flex;
                justify-content: center;
                align-items: center;
                .logo{
                    width: 120px;
                    margin-bottom: 3rem;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}