@import '../defaultStyle.scss';


.loginForm{
    
    .field{
        margin-bottom: 1.5rem;
        small{
            height: 16px;
            display: inline-block;
        }
        &#adminType{
            display: flex;
            align-items: center;
            .adminLegend{
                width: fit-content;
            }
            small{
                height: fit-content;
                margin-top: 0;
            }
        }
    }
    #submitBtn{
        width: 100%;
    }
}

